<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="/s2p.png">
    </a>
    <h1 class="hidden">SHOP2PAY gateway  platform</h1>
    <p style="text-align: center;">Easy to Pay <strong>Everything</strong> and <strong>Everytime</strong></p>
    
    
    <a type="button" class="btn btn-lg btn-default hidden" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary hidden" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="jumbotron text-center">
<div class="container">
  
 
  <div class="row">
    <div class="col-md-6">
      <img src="/payments-platform.png">
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link hidden"></span> Next Steps</h3>
      <p >SHOP2PAY gateway platform provides reliable, scalable, fast and efficient payments for our users and merchants.
        We support multi bank api solution.</p>
      <a type="button" class="btn btn-lg btn-default " href="#"><span class="glyphicon glyphicon-flash"></span> TRY US SHOP2PAY</a>
        
    </div>
    

  </div> <!-- row -->
   
</div>
</div>
<div class="jumbotron text-center">
<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: center;">Interested in our services? Fill in our form below for a free assessment and quote!</p>
      <a type="button" class="btn btn-lg btn-default" href="mailto:iamwinn@protonmail.com"><span class="glyphicon glyphicon-flash"></span> Contact Us Here</a>
    </div>
  </div>
    
</div>
</div>


</body>
</html>
